<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.2/font/bootstrap-icons.min.css" integrity="sha512-1fPmaHba3v4A7PaUsComSM4TBsrrRGs+/fv0vrzafQ+Rw+siILTiJa0NtFfvGeyY5E182SDTaF5PqP+XOHgJag==" crossorigin="anonymous" referrerpolicy="no-referrer" />    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="shortcut icon" href="#">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
    <link href="/css/projects.css" rel="stylesheet">
    
    <title>ndureja</title>
</head>
<body>
    <nav class="nav-fixed-top">
        <a href="/" class="title" >nDureja</a>
        <div class="nav-wrap">
            <a href="#" class="active-a" style="color: #FF8E95;">Projects</a>
            <a href="/experience">Experience</a>
            <a href="/resume">Resume</a>
            <a href="/contact" id="contact">Contact</a>
        </div>
        <div class="menu-icon">
            <i class="bi bi-list"></i>
            <i class="bi bi-x hidden"></i>
            </div>
    </nav>
    <div class="nav-mobile menu-hide">
        <a href="/projects" class="nav-mobile-active">Projects</a>
        <a href="/experience">Experience</a>
        <a href="/resume">Resume</a>
        <a href="/contact" id="contact">Contact</a>
</div>
    <div  class="three-d">
        <div data-depth="0.3" class="layer">
        <div class="sphere1"></div>
        </div>
        <div data-depth="0.4" class="layer">
        <div class="sphere2"></div>
        </div>
        <div data-depth="0.2" class="layer">
            <div class="toroid1"></div>
            </div>
            <div data-depth="0.6" class="layer">
                <div class="toroid2"></div>
                </div>
    </div>

    <main>
        <div class="switch-wrap">
            <div class="switch switch-active" id="dev">Dev</div>
            <div class="switch" id="visual">Visuals + Films</div>
        </div>
        <section id="projects">
        <section class="projects project1" style="padding-top: 2vw;">
            <h1>Confab: App for better socializing</h1>
            <p>Shravan is the concept of a user interface for a smartphone which does not require sight, and instead functions on sound and haptic feedback. I built an early prototype of Shravan, and designed a website to promote it.</p>
            <div class="image">
                <img src="/images/placeholder.png" alt="">
                <div class="about">
                    App Development, Flutter, Firebase
                </div>
            </div>
            <div class="work-links">
                <a href="" class="link"><i class="bi bi-link"></i>&nbsp;&nbsp;Website</a>
                <a href="" class="link"><i class="bi bi-github"></i>&nbsp;&nbsp;Github</a>
            </div>
    
        </section>
        <section class="projects">
            <h1>Confab: App for better socializing</h1>
            <p>Shravan is the concept of a user interface for a smartphone which does not require<br>sight, and instead functions on sound and haptic feedback. I built an early prototype<br>of Shravan, and designed a website to promote it.</p>
            <div class="image">
                <img src="/images/placeholder.png" alt="">
                <div class="about">
                    App Development, Flutter, Firebase
                </div>
            </div>
            <div class="work-links">
                <a href="" class="link"><i class="bi bi-link"></i>&nbsp;&nbsp;Website</a>
                <a href="" class="link"><i class="bi bi-github"></i>&nbsp;&nbsp;Github</a>
            </div>
    
        </section>
        <section class="projects" >
            <h1>Confab: App for better socializing</h1>
            <p>Shravan is the concept of a user interface for a smartphone which does not require<br>sight, and instead functions on sound and haptic feedback. I built an early prototype<br>of Shravan, and designed a website to promote it.</p>
            <div class="image">
                <img src="/images/placeholder.png" alt="">
                <div class="about">
                    App Development, Flutter, Firebase
                </div>
            </div>
            <div class="work-links">
                <a href="" class="link"><i class="bi bi-link"></i>&nbsp;&nbsp;Website</a>
                <a href="" class="link"><i class="bi bi-github"></i>&nbsp;&nbsp;Github</a>
            </div>
        </section>
        </section>
        <section id="films">
            <section class="projects project1"  style="padding-top: 2vw;">
                <h1>Randi: Teri ma</h1>
                <p>Shravan is the concept of a user interface for a smartphone which does not require<br>sight, and instead functions on sound and haptic feedback. I built an early prototype<br>of Shravan, and designed a website to promote it.</p>
                <div class="image">
                    <img src="/images/placeholder.png" alt="">
                    <div class="about">
                        App Development, Flutter, Firebase
                    </div>
                </div>
                <div class="work-links">
                    <a href="" class="link"><i class="bi bi-link"></i>&nbsp;&nbsp;Website</a>
                    <a href="" class="link"><i class="bi bi-github"></i>&nbsp;&nbsp;Github</a>
                </div>
        
            </section>
            <section class="projects">
                <h1>Confab: App for better socializing</h1>
                <p>Shravan is the concept of a user interface for a smartphone which does not require<br>sight, and instead functions on sound and haptic feedback. I built an early prototype<br>of Shravan, and designed a website to promote it.</p>
                <div class="image">
                    <img src="/images/placeholder.png" alt="">
                    <div class="about">
                        App Development, Flutter, Firebase
                    </div>
                </div>
                <div class="work-links">
                    <a href="" class="link"><i class="bi bi-link"></i>&nbsp;&nbsp;Website</a>
                    <a href="" class="link"><i class="bi bi-github"></i>&nbsp;&nbsp;Github</a>
                </div>
        
            </section>
            <section class="projects" >
                <h1>Confab: App for better socializing</h1>
                <p>Shravan is the concept of a user interface for a smartphone which does not require<br>sight, and instead functions on sound and haptic feedback. I built an early prototype<br>of Shravan, and designed a website to promote it.</p>
                <div class="image">
                    <img src="/images/placeholder.png" alt="">
                    <div class="about">
                        App Development, Flutter, Firebase
                    </div>
                </div>
                <div class="work-links">
                    <a href="" class="link"><i class="bi bi-link"></i>&nbsp;&nbsp;Website</a>
                    <a href="" class="link"><i class="bi bi-github"></i>&nbsp;&nbsp;Github</a>
                </div>
            </section>
            </section>
    
    </main>
  
    <footer>
        <i class="bi bi-envelope-fill"></i>
        <i class="bi bi-twitter"></i>
        <i class="bi bi-linkedin"></i>
        <i class="bi bi-behance"></i>
        <i class="bi bi-github"></i>
        <i class="bi bi-instagram"></i>
    </footer>
    <div class="made">
        Made with <3 by Naman Dureja.
    </div>
    <script>
        $('#films').hide();
        $(function () {
  $(document).scroll(function () {
      console.log("lm");
    var $nav = $(".nav-fixed-top");
    $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
  });
});
    var scene = document.querySelector('.three-d');
      var parallaxInstance = new Parallax(scene);
      parallaxInstance.invert(false, false);
    document.getElementById("visual").addEventListener('click',(e)=>{
        if(!e.target.classList.contains('switch-active')){
            document.getElementById("dev").classList.remove('switch-active');
            e.target.classList.add("switch-active");
            $('#films').show();
            $('#projects').hide();

        }
    })
    document.getElementById("dev").addEventListener('click',(e)=>{
        if(!e.target.classList.contains('switch-active')){
            document.getElementById("visual").classList.remove('switch-active');
            e.target.classList.add("switch-active");
            $('#films').hide();
            $('#projects').show();
        }
    })
    document.querySelector(".menu-icon").addEventListener('click',(e)=>{
            document.querySelector('.bi-x').classList.toggle('hidden');
            document.querySelector('.bi-list').classList.toggle('hidden');
            document.querySelector('.nav-mobile').classList.toggle('menu-hide');
    })

    </script>
</body>
</html>